DEBUG=0
DB_NAME = Nighthawks24
PLATFORM=common-gen5
CLUB_ID=xxx
DISCORD_TOKEN=
DISCORD_CHANNEL=
GUILD_ID=
TWITCH_CLIENT_ID=
TWITCH_OAUTH=
TWITCH_STREAMERS=bodhifinpsn
TWITCH_CHANNEL=
TUMBLR_KEY=
TUMBLR_SECRET=
TUMBLR_OAUTH_KEY=
TUMBLR_OAUTH_SECRET=
TUMBLR_BLOG=
GPT_MODEL=gpt-3.5-turbo
EA_API_BASE_URL=
OWN_API_KEY=