requests
types-requests
python-dotenv
pytz
types-pytz
cachetools
types-cachetools
simplejson
types-simplejson
pytest
nextcord
pymongo
asyncio
motor
motor-types
dacite
openai
pytest-asyncio
pytumblr
# zombieimp #for 3.12
setuptools